// ==================================================
// Browser Upgrade
// ==================================================

.browser-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: $bg;
  padding: 15px;


  h1 {
    font-size: 36px;
  }
}

.browserupgrade {
    max-width: 500px;
    color: $text-color;
    font-size: 25px;
}
