// ==================================================
// Footer
// ==================================================

.footer {
  @extend .flex;
  @include justify-content(center);
  padding: 15px;
  font-size: 1.4rem;
}
  .footer__col {
    @extend .flex;
    @include flex(1 0 100%);
    @include justify-content(space-between);
    max-width: 740px
  }