* {
  box-sizing: border-box;
}

html, body {
    height: 100%;
    font-size: 62.5%;
    background: $dark;
    color: $light-gray;
}

body {
    font-family: $sans-body;
    font-weight: 300;
    font-size: 1.4rem;

    @media #{$tablet} {
        font-size: 1.6rem;
    }
}

.container {
    display: flex;
    flex-direction: column;
    min-width: 100%;
    min-height: 100vh;
    align-items: center;
}

.content {
    flex: 1;
    width: 100%;
}

.content__wrapper {
    margin: 0 auto;
    width: 100%;
    max-width: 780px;
    padding: 0 20px 40px 20px;
}

a {
    text-decoration: none;
    color: $gold;    

    &:hover {
        color: darken($gold, 5%);
    }

}

p {
    margin-bottom: 15px;
    line-height: 1.5;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5 {
    font-weight: 700;
    color: $light;
}