* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-size: 62.5%;
  font-family: Arial, sans-serif;
}

body {
  font-size: 1.5rem;
}

.container {
    display: flex;
    flex-direction: column;
    min-width: 100%;
    min-height: 100vh;
}

.content {
    flex: 1;
}

a {
  text-decoration: none;
}

