* {
  box-sizing: border-box;
}

html, body {
    height: 100%;
    font-size: 62.5%;
}

body {
    font-weight: 300;
}

a {
    text-decoration: none;
}

p {
    margin-bottom: 15px;
    line-height: 1.5;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5 {
    font-weight: 700;
}


b, strong {
    font-weight: bold;
}

code {
    font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
    padding: 6px;
}

pre.highlight {
    display: block;
    padding: 16px;
    font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
    margin-bottom: 30px;

    code {
        padding: 0;
    }
}

svg {
    pointer-events: none;
}