.row {
    border-bottom: 1px solid $dark-gray;
    margin-bottom: 40px;
    padding-bottom: 40px;
}

.row__title {
    margin-bottom: 30px;
    font-size: 3.6rem;
}

.row__p {
    margin-bottom: 20px;

    &.mod-no-mb {
        margin: 0;
    }

/*    &:last-of-type:not(:first-of-type) {
        margin-bottom: 0;
    }*/
}


.row__item {
    margin-bottom: 15px;
    &:last-of-type:not(:first-of-type) {
        margin-bottom: 0;
    }
}

@for $i from 1 through 5 {
    .space-#{$i * 5} {
        margin-bottom: $i * 5px;
    }
}

/*------------------------------------*\
  LIST
\*------------------------------------*/
.row__list-item {
    margin-bottom: 10px;
    list-style: square;
    line-height: 1.5;

    &:last-of-type:not(:first-of-type) {
        margin-bottom: 0;
    }
}


/*------------------------------------*\
  BUTTONS/BTNS
\*------------------------------------*/

.btns {
    margin: 30px 0 0 0;
}

.btn {
    display: inline-block;
    border: 1px solid $dark-gray;
    text-align: center;
    transition: all 250ms ease;
    color: $gold;

    &:hover {
        border: 1px solid $gold;
        /*background: rgba($gold, 0.2);*/
        color: $light;
    }

    &.mod-small {
        padding: 14px 24px;
        font-size: 1.4rem;
    }
}


.btn__text, .btn__arrow {
    display: inline-block;
    vertical-align: middle;
}

.btn__text {
    position: relative;
    top: 1px;
}

.btn__arrow {
    width: 12px;
    height: 12px;
    margin-left: 5px;

    svg {
        display: block;
        width: 100%;
        height: 100%;
    }
}


/*------------------------------------*\
  CARDS
\*------------------------------------*/

.cards {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    @media #{$tablet} {
        margin-right: -10px;
    }
}

.card {
    width: 100%;
    margin-bottom: 10px;
    @media #{$tablet} {
        width: calc(50% - 10px);
        margin-right: 10px;
    }
}

.card__link {
    display: flex;
    align-items: center;
    padding: 20px;
    border: 1px solid $dark-gray;
    transition: all 250ms ease;

    &:hover {
        border: 1px solid $gold;
    }
}

.card__icon {
    margin-right: 20px;

    &.mod-border {
        border: 1px solid $light;
        border-radius: 50%;
        padding: 10px;
        svg {
            width: 20px;
            height: 20px;
        }
    }

    svg {
        display: block;
        width: 40px;
        height: 40px;
        path, ellipse {
            fill: $light !important;
        }
    }

}

.card__type {
    margin-bottom: 5px;
    color: $light-gray;
    font-size: 1.2rem;
}


/*------------------------------------*\
  BLOCKS
\*------------------------------------*/
$block-list-spacing: 15px;

.blocks__list {
    display: flex;
    flex-wrap: wrap;
    margin-right: -$block-list-spacing;
}

.block {
    position: relative;
    width: calc(33.33% - #{$block-list-spacing});
    margin-right: $block-list-spacing;
    margin-bottom: $block-list-spacing;
}

.block__container {
    padding-bottom: 100%
}

.block__link {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;

    &:hover {
        .block__overlay {
            @include revealed;
        }
    }
}

.block__bg {
    width: 100%;
    height: 100%;
    background: #f1f1f1;
    background-size: contain;
}

.block__overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.9);

    @include hidden;
}

.block__copy {
    color: $light;
    font-weight: 700;
}

.block__icon {
    margin-top: 10px;
    width: 25px;
    height: 25px;
    svg {
        display: block;
        width: 100%;
        height: 100%;
    }
}


/*------------------------------------*\
  IMAGES
\*------------------------------------*/
.img-ele {
    display: inline-block;

    &.mod-full-width {
        width: 100%;
    }
}