.row {
    border-bottom: 1px solid $dark-gray;
    margin-bottom: 40px;
    padding-bottom: 40px;

    p {
        margin-bottom: 20px;
    }
}

    .row__title {
        margin-bottom: 30px;
        font-size: 3.2rem;
    }


