.row {
    border-bottom: 1px solid $dark-gray;
    margin-bottom: 40px;
    padding-bottom: 40px;
}

.row__title {
    margin-bottom: 30px;
    font-size: 3.2rem;
}

.row__p {
    margin-bottom: 20px;
}

.btns {
    margin: 30px 0 0 0;
}

.btn {
    display: inline-block;
    border: 1px solid $dark-gray;
    text-align: center;
    transition: all 250ms ease;
    color: $light;

    &:hover {
        border: 1px solid $gold;
        background: rgba($gold, 0.2);
        color: $light;
    }

    &.mod-small {
        padding: 14px 24px;
        font-size: 1.4rem;
    }
}


.btn__text, .btn__arrow {
    display: inline-block;
    vertical-align: middle;
}

.btn__text {
    position: relative;
    top: 1px;
}

.btn__arrow {
    width: 12px;
    height: 12px;
    margin-left: 5px;

    svg {
        display: block;
        width: 100%;
        height: 100%;
    }
}

.cards {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {

}