$large-mobile: "only screen and (min-width: 350px)";
$small-tablet: "only screen and (min-width: 500px)";
$tablet: "only screen and (min-width: 767px)";
$tabletDown: "all and (max-width: 767px)";

$desktop-below-only: "only screen and (max-width: 1025px)";
$desktop: "only screen and (min-width: 1025px)";
$med-desktop: "only screen and (min-width: 1300px)";
$large-desktop: "only screen and (min-width: 1600px)";