@charset "utf-8";

@import '_reset';



/*------------------------------------*\
  SETTINGS
\*------------------------------------*/
@import 'settings/_colors';
@import 'settings/_spacing';
@import 'settings/_typography';

@import '_mixins';
@import '_media-queries';
@import '_extends';


/*------------------------------------*\
  GLOBAL
\*------------------------------------*/
@import '_base';
@import '_defaults';
@import '_page';
@import '_miscellaneous';

/*------------------------------------*\
  PARTIALS
\*------------------------------------*/
@import 'partials/site/_site-topbar';
@import 'partials/site/_site-nav';
@import 'partials/site/_site-scrollup';
@import 'partials/site/_site-footer';

@import 'partials/index/_intro';
@import 'partials/index/_featured';

@import 'partials/_social-blocks';
@import 'partials/_grid-blocks';

@import 'partials/page/_page-header';
