<% wrap_layout :layout do %>

<% partial 'partials/page/page-header' do %>
    <%= yield_content :pageHeader %>
<% end %>    

<div class='content__wrapper mod-article'>
    <%= yield %>
</div>
<% end %>