.site-footer {
    position: relative;
    width: 100%;
    border-top: 1px solid $dark-gray;
    padding: 20px;
    background: $dark;
    font-size: 1.2rem;
}

.footer-copyright {
    margin-bottom: 0;
}

.footer-copyright-link {
    font-weight: 700;
}

.site-footer__ozy {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    svg {
        width: 15px;
        height: 15px;
    }
}