<a href="<%= url %>" class="btn mod-small">
    <span class="btn__text"><%= copy %></span>
    <% if arrow %>
        <div class="btn__arrow">
            <%= svg('right-arrow-button') %>
        </div>
    <% end %>
</a>