<div class="topbar">
  <h1 class="topbar-title">
    <a href="/" class="topbar-title-link">
      <span class="topbar-title-logo"></span>
      <span class="topbar-title-text">OZY WU-LI</span>
    </a>
  </h1>

  <a href="#" class="topbar-nav-toggle js-topbar-nav-toggle">
    <span class="topbar-nav-toggle-bar"></span>
    <span class="topbar-nav-toggle-bar"></span>
    <span class="topbar-nav-toggle-bar"></span>
  </a>

</div>