<div class="site-footer">
    <p class="footer-copyright"><a href="/" class="footer-copyright-link">Ozy Wu-Li</a> &copy; 2012 - <%= Time.new.year %></p>
    <a href="/secret" class="site-footer__ozy">
        <%= svg 'ozy' %>
    </a>
</div>

<!-- EXTERNAL LIBS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

<!-- MAPBOX -->
<% if currentPage.data.hasMap %>
    <script src='https://api.mapbox.com/mapbox-gl-js/v0.39.1/mapbox-gl.js'></script>    
<% end %>

<!-- MAIN SCRIPT -->
<script src="/assets/js/main.js"></script>

</body>
</html>