<div class="site-topbar">

    <a href="#" class="site-topbar__nav-toggle js-nav-toggle">
        <span class="site-topbar__nav-toggle__bar"></span>
        <span class="site-topbar__nav-toggle__bar"></span>
        <span class="site-topbar__nav-toggle__bar"></span>
    </a>

    <h1 class="site-topbar__title">
        <a href="/" class="site-topbar__title__link">
            <span class="site-topbar__title__logo"></span>
            <span class="site-topbar__title__text">OZY WU-LI</span>
        </a>
    </h1>

</div>