<div class="site-footer">
    <p class="footer-copyright">2016 &copy; <a href="/" class="footer-copyright-link">Ozy Wu-Li</a></p>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="assets/js/main.js"></script>

</body>
</html>