// ==================================================
// Contact
// ==================================================

.contact-info {
  @extend .flex;
  @include flex-direction(column);
  @include flex-wrap(no-wrap);


  @include tablet {
    @include flex-direction(row);
    @include flex-wrap(wrap);
    margin-right: -10px;
  }

}

.contact-info__item {

  margin-bottom: 10px;


  @include tablet {
    width: calc(50% - 10px);
    margin-right: 10px;
  }

}

  .contact-info__link {
    @extend .flex;
    @include align-items(center);
    border: 1px solid $border;
    padding: 20px;

    svg {
      fill: #FFF;
    }

    &:hover {
      border: 1px solid $gold;
    }
  }
    .contact-info__icon {
      margin-right: 20px;
    }
    .contact-info__body {
      @include flex(1);
    }
      .contact-info__type {
        font-size: 1.2rem;
        color: $text-color;
      }



      .codepen-logo {
        width: 40px;
        height: 40px;
      }