// ==================================================
// Portfolio
// ==================================================

.portfolio__list {
  @extend .flex;
  @include flex-wrap(wrap);
  @include align-items(center);
  @include justify-content(center);

  margin-bottom: -15px;

  @include tablet {
    margin-right: -15px;
  }

}
  .portfolio__item {
    margin-bottom: 20px;

    @include tablet {
      width: calc(33.33% - 15px);
      margin-right: 15px;
      margin-bottom: 15px;
    }
    
  }

  .portfolio__link {
    position: relative;
  }

  .portfolio__overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    text-align: center;

    opacity: 0;
    @include transform(scale(0.9));
    @include transition(all 150ms ease);

    div {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
    }
    span {
      display: block;
      border: 1px solid $gold;
      padding: 5px 10px;
    }
  }

  .portfolio__link--img {
    display: block;

    &:hover .portfolio__overlay {
      opacity: 1;
      @include transform(scale(1));
    }
  }
  .portfolio__img {
    width: 100%;
  }

