/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browser-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: $bg;
  padding: 15px;


  h1 {
    font-size: 36px;
  }
}

.browserupgrade {
    max-width: 500px;
    color: #DDD;
    font-size: 24px;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.h2 {
  font-size: 4rem;
}
.h3 {
  font-size: 2.5rem;
}


.flex {
  @include display-flex;
}

.container {
  @include flex-direction(column);
  min-height: 100vh;

  @media all and (min-width: 728px) {
    font-size: 1.8rem;
  }
}

.navbar {
  @include justify-content(center);
  border-bottom: 1px solid $border;
  padding: 0 20px;



  @media all and (min-width: 728px) {

  }
}
  .navbar__col {
    @include flex(1 0 100%);
    @include flex-direction(column);
    @include justify-content(space-between);
    max-width: 740px;
    @media all and (min-width: 728px) {
      @include flex-direction(row);
    }
  }

.title {
  @extend .flex;
  @include align-items(center);
  width: 100%;
  padding: 9px 0;
  font-size: 2rem;
  font-weight: 300;
  text-transform: uppercase;
  line-height: 1;

  @media all and (min-width: 728px) {
    width: auto;
  }

}

  .title__link {
    @include align-items(center);
  }

.logo {
  padding-right: 8px;
}

.menu {
  font-size: 1.4rem;
}
  .menu__link {
    display: block;
    margin-bottom: -1px;
    border-bottom: 1px solid transparent;
    padding: 15px 15px;

    &:hover {
      border-bottom: 1px solid $gold;
    }

  }




.content {
  @include justify-content(center);
  border-bottom: 1px solid $border;
  padding: 15px;
}
  .content__col {
    max-width: 740px;
  }


.billboard {
  margin-bottom: 20px;
  border-bottom: 1px solid $border;
  font-size: 2rem;
}

.page-title {
  font-size: 3.6rem;
  color: #FFF;

  @media all and (min-width: 768px) {
    font-size: 4rem;
  }
}
.page-des {
  font-size: 1.4rem;
  margin-bottom: 0;

  &:last-of-type {
    margin-bottom: 20px;
  }
}


.row {
  margin-bottom: 20px;
  border-bottom: 1px solid $border;
  padding-bottom: 20px;
}

  .row__title {
    @extend .h3;
  }




.portfolio__list {
  @include flex-wrap(wrap);
  margin-right: -15px;
}
  .portfolio__item {
    margin-bottom: 15px;

    @media all and (min-width: 728px) {
      width: calc(33.33% - 15px);
      margin-right: 15px;
    }
  }
    .portfolio__item-description {
      margin-left: 10px;
      font-size: 1.4rem;
      text-transform: uppercase;
      color: #818181;
    }
  .portfolio__link--img {
    display: block;

    &:hover {
      opacity: 0.8;
    }
  }
  .portfolio__img {
    width: 100%;
  }




.contact-info {
  @include flex-wrap(no-wrap);
  @include flex-direction(column);

  @media all and (min-width: 728px) {
    @include flex-direction(row);
    @include flex-wrap(wrap);
    margin-right: -10px;
  }
}

.contact-info__item {

  margin-bottom: 10px;



  @media all and (min-width: 728px) {
    width: calc(50% - 10px);
    margin-right: 10px;
  }
}

  .contact-info__link {
    @extend .flex;
    @include align-items(center);
    border: 1px solid $border;
    padding: 20px;

    svg {
      fill: #FFF;
    }

    &:hover {
      border: 1px solid $gold;
    }
  }
    .contact-info__icon {
      margin-right: 20px;
    }
    .contact-info__body {
      @include flex(1);
    }
      .contact-info__type {
        font-size: 1.2rem;
        color: #DDD;
      }



      .codepen-logo {
        width: 40px;
        height: 40px;
      }










.footer {
  @include justify-content(center);
  padding: 15px;
  font-size: 1.4rem;
}
  .footer__col {
    @include flex(1 0 100%);
    @include justify-content(space-between);
    max-width: 740px
  }



.social__item {
  display: inline-block;
  margin-left: 12px;
}



