.featured-list-item {
    width: 100%;
    margin-bottom: 20px;
    background: #f1f1f1;
}
.featured-list-item-link {
    display: block;
    width: 100%;
    height: 100%
}
.featured-list-item-img {
    width: 100%;
    padding-bottom: 100%;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}