.archive-list {
    margin-bottom: 24px;
}

.archive-list__date {
    display: block;
    margin-bottom: 8px;
    font-size: 1.4rem;
}

.archive-list__title {
    font-size: 2.4rem;
    line-height: 1.12;
}

.archive-list__link {
    color: $light-gray;
}