<header class="page-header">
    <h2 class="page-header__title">
        <% if page_classes === 'contact' %>
            Contact
        <% elsif page_classes === 'about' %>
            About
        <% end %>
    </h2>
</header>