<header class="page-header">
    <div class="page-header__wrapper">
        <% if page_classes === 'index' %>
            <p class="page-header__p">Hey, I'm Ozy Wu-Li <%= partial 'partials/_chinese-name.erb' %></p>
            <p class="page-header__p">Interaction designer and developer</p>
            <p class="page-header__p">Helping make the web a cooler and more useful&nbsp;place</p>
        <% else %>
            <h2 class="page-header__title">
                <% if page_classes === 'contact' %>
                    Contact
                <% elsif page_classes === 'about' %>
                    About
                <% elsif page_classes === 'portfolio' %>
                    Portfolio
                <% end %>
            </h2>
        <% end %>
    </div>
</header>