<header class="page-header">
    <div class="page-header__wrapper">
        <% whatPage = page_classes.split(' ')[0] %>
        <%= yield %>
        <% if defined? current_page.data.title %>
            <% if whatPage != 'index' %>
                <h2 class="page-header__title">
                    <%= current_page.data.title %>
                </h2>
            <% end %>
            <% if whatPage === 'blog' %>
                <div class="page-header__date">
                    <% if current_article %>
                        <%= current_article.data.date.strftime('%e %B %Y') %>
                    <% end %>
                </div>
            <% end %>
        <% end %>
    </div>
</header>

