<header class="page-header">
    <div class="page-header__wrapper">
        <% if page_classes === 'index' %>
            <p>Hey I'm Ozy Wu-Li (<span class="ch"><a href="/web/20160307121538/http://www.mdbg.net/chindict/chindict.php?page=worddict&wdrst=0&wdqb=%E5%90%B4%E5%8D%8E%E5%9C%A3" target="_blank">吴华圣</a></span>)</p>
            <p>Interaction Designer and Developer</p>
            <p>Crafting digital experiences in Los Angeles</p>
        <% else %>
            <h2 class="page-header__title">
                <% if page_classes === 'contact' %>
                    Contact
                <% elsif page_classes === 'about' %>
                    About
                <% end %>
            </h2>
        <% end %>
    </div>
</header>