.page-header {
    width: 100%;
    margin-bottom: 40px;
    padding-bottom: 40px;
    background: $color-black;
    padding-top: 87px;
}

.page-header__wrapper {
    margin: 0 auto;
    padding: 0 20px;
    width: 100%;
    max-width: 780px;
}

.page-header__title {
    font-size: 5.6rem;
    font-weight: bold;
    text-transform: uppercase;
}

.page-header__date {
    margin-top: 15px;
}

.page-header__p {
    margin-bottom: 0;
    @media #{$tablet} {
        font-size: 3.2rem;
    }
}