---
title: Profile
---

<div class="row">
    <h3 class="row__title">Hey I'm Ozy</h3>
    <p>I seek to help make the web a more useful, accessible, and enjoyable place for all. Check out my projects. Open to freelance projects and other collaborative work.</p>
</div>

<div class="row">
    <h3 class="row__title">connect with me</h3>
    <%= partial "partials/social-blocks", :locals => { :amount => 1, :amount_text => "Pay $1" } %> 
</div>