---
title: About
---


<section class="row">
  <h2 class="page-title">About</h2>
  <p class="page-des">My name is Ozy Wu-Li (吴华生)</p>
  <p class="page-des">The internet gave me a second life</p>
</section>


    <%= link_to "Read Online Documentation", "http://middlemanapp.com/" %>
