---
title: Profile
---

<div class="row">
    <h3 class="row__title">Hey I'm Ozy</h3>
    <p class="row__p">My full name is Oscar Wu-Li or (<span class="ch"><a href="/web/20160307121538/http://www.mdbg.net/chindict/chindict.php?page=worddict&wdrst=0&wdqb=%E5%90%B4%E5%8D%8E%E5%9C%A3" target="_blank">吴华圣</a></span>). But I go by my nickname Ozy.</p>
    <p class="row__p">I seek to help make the web a more useful, accessible, and enjoyable place for all. Check out my projects. Currently a full-time front end web developer at <a href="http://pxlbros.com" target="_blank">PXL Bros</a> but open to interesting freelance projects or other collaborative work.</p>

    <div class="cards">
        <%= partial(:'partials/_card.erb', :locals => { :type => 'HTML', :copy => 'View Resume', :url => '#', :icon => 'html' } ) %>
        <%= partial(:'partials/_card.erb', :locals => { :type => 'WORD DOC', :copy => 'View Resume', :url => '#', :icon => 'word' } ) %>
        <%= partial(:'partials/_card.erb', :locals => { :type => 'PDF', :copy => 'View Resume', :url => '#', :icon => 'pdf' } ) %>
    </div>

</div>

