---
title: Blog
---

<section class="row">
  <h2 class="page-title">Blog</h2>
  <p class="page-des">Stay Awhile and Read</p>
</section>

    <%= link_to "Read Online Documentation", "http://middlemanapp.com/" %>
