<div class="row">
    <h3 class="row__title">Connect with me</h3>
    <div class="row__p">If you decide to message me for whatever reason, I'll do my best to respond within 24 hours.</div>
    <div class="cards">
        <% data.social.each do |key, item| %>
            <%= partial(:'partials/_card.erb', :locals => { :type => item.name, :copy => item.username, :url => item.url, :icon => item.svg, :border => true } ) %>
        <% end %>
    </div>
</div>