---
title: Experiments
---

<div class="experiments-iframes">


<p data-height="265" data-theme-id="dark" data-slug-hash="RLMZaJ" data-default-tab="result" data-user="ozywuli" data-embed-version="2" data-pen-title="canvas rotation" data-preview="true" class="codepen">See the Pen <a href="https://codepen.io/ozywuli/pen/RLMZaJ/">canvas rotation</a> by ozywuli (<a href="https://codepen.io/ozywuli">@ozywuli</a>) on <a href="https://codepen.io">CodePen</a>.</p>
<script async src="https://static.codepen.io/assets/embed/ei.js"></script>

<p data-height="265" data-theme-id="dark" data-slug-hash="JvEeXV" data-default-tab="result" data-user="ozywuli" data-embed-version="2" data-pen-title="How to scrub a video while scrolling" data-preview="true" class="codepen">See the Pen <a href="https://codepen.io/ozywuli/pen/JvEeXV/">How to scrub a video while scrolling</a> by ozywuli (<a href="https://codepen.io/ozywuli">@ozywuli</a>) on <a href="https://codepen.io">CodePen</a>.</p>
<script async src="https://static.codepen.io/assets/embed/ei.js"></script>


</div>