---
title: Free and Open Source Software (FOSS)
---


<div class="row">
    <h3 class="row__title">Open Source</h3>
    <p class="row__p">Active open source projects that I maintain or contribute to:</p>
    <%= partial(:'partials/_blocks.erb', :locals => { :items => data.foss.items, :type => 'opensource' } ) %>
</div>
