---
title: Images
---


<div class="msnry-grid">
    <div class="msnry-grid__item">
        <img class="img-ele mod-full-width" src="/assets/images/photos/st-vincent-square-2016.jpg" alt="St. Vincent Square in downtown Los Angeles taken on a clear and sunny day. 24 February 2016.">
    </div>
    <div class="msnry-grid__item">
        <img class="img-ele mod-full-width" src="/assets/images/photos/motherboard-vengeance.jpg" alt="Vengeance memory on a motherboard">
    </div>
</div>