---
title: Home
---

<header class="index__intro">
    <p>Hey I'm Ozy Wu-Li (<span class="ch">吴华圣</span>)</p>
    <p>Interaction Designer and Developer</p>
    <p>Creating in Los Angeles</p>
</header>

<div class="row">
    <h2 class="row__title">FEATURED WORK</h2>
    <%= partial "partials/index/featured.erb" %>    
</div>


