---
title: Index
---

<section class="billboard">
  <h2 class="page-title">Interactive Designer and Developer</h2>
  <p>Hello, my name is Ozy. I seek to help make the web a more helpful, accessible, and enjoyable place for all. <a href="portfolio" target="_blank">Check out my work</a>. Currently employed full-time at <a href="http://lamag.com" target="_blank">Los Angeles magazine</a> but open to freelance projects or other collaborative work.</p>
  <p>Follow me on <a href="https://www.twitter.com/ozy_wuli" target="_blank">Twitter</a> or send me an <a href="mailto:ozy.wu.li@gmail.com">email</a>.</p>
</section>


<section class="row">
  <h3 class="row__title">Portfolio</h3>
  <div class="block">
    Common Theory
  </div>
</section>

<section class="row">
  <h3 class="row__title">Contact Me</h3>
</section>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum reprehenderit animi repellendus facilis, nobis dicta! Debitis vero, eos enim autem accusantium impedit officiis id velit. Repellat asperiores explicabo, deleniti perspiciatis!</p><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum reprehenderit animi repellendus facilis, nobis dicta! Debitis vero, eos enim autem accusantium impedit officiis id velit. Repellat asperiores explicabo, deleniti perspiciatis!</p><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum reprehenderit animi repellendus facilis, nobis dicta! Debitis vero, eos enim autem accusantium impedit officiis id velit. Repellat asperiores explicabo, deleniti perspiciatis!</p><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum reprehenderit animi repellendus facilis, nobis dicta! Debitis vero, eos enim autem accusantium impedit officiis id velit. Repellat asperiores explicabo, deleniti perspiciatis!</p><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum reprehenderit animi repellendus facilis, nobis dicta! Debitis vero, eos enim autem accusantium impedit officiis id velit. Repellat asperiores explicabo, deleniti perspiciatis!</p><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum reprehenderit animi repellendus facilis, nobis dicta! Debitis vero, eos enim autem accusantium impedit officiis id velit. Repellat asperiores explicabo, deleniti perspiciatis!</p><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum reprehenderit animi repellendus facilis, nobis dicta! Debitis vero, eos enim autem accusantium impedit officiis id velit. Repellat asperiores explicabo, deleniti perspiciatis!</p><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum reprehenderit animi repellendus facilis, nobis dicta! Debitis vero, eos enim autem accusantium impedit officiis id velit. Repellat asperiores explicabo, deleniti perspiciatis!</p><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum reprehenderit animi repellendus facilis, nobis dicta! Debitis vero, eos enim autem accusantium impedit officiis id velit. Repellat asperiores explicabo, deleniti perspiciatis!</p><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum reprehenderit animi repellendus facilis, nobis dicta! Debitis vero, eos enim autem accusantium impedit officiis id velit. Repellat asperiores explicabo, deleniti perspiciatis!</p><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum reprehenderit animi repellendus facilis, nobis dicta! Debitis vero, eos enim autem accusantium impedit officiis id velit. Repellat asperiores explicabo, deleniti perspiciatis!</p><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum reprehenderit animi repellendus facilis, nobis dicta! Debitis vero, eos enim autem accusantium impedit officiis id velit. Repellat asperiores explicabo, deleniti perspiciatis!</p><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum reprehenderit animi repellendus facilis, nobis dicta! Debitis vero, eos enim autem accusantium impedit officiis id velit. Repellat asperiores explicabo, deleniti perspiciatis!</p>
