---
title: Welcome to Middleman
---

<header class="index-intro">
    <p>Hey I'm Ozy Wu-Li (<span class="ch">吴华圣</span>)</p>
    <p>Interaction Designer and Developer</p>
    <p>Living in Los Angeles</p>
</header>

<div class="index-featured">
    <ul class="index-featured-list">
        <% data.featured.items.each do |item| %>
        <li class="index-featured-list-item">
            <a href="<%= item.url %>" class="index-featured-list-item-link">
                <div title="<%= item.title %>" data-img="<%= item.img %>" class="index-featured-list-item-img"></div>
            </a>
        </li>
        <% end %>
    </ul>
</div>