---
title: Welcome to Middleman
---

<header class="intro">
    <p>Hey I'm Ozy Wu-Li (<span class="ch">吴华圣</span>)</p>
    <p>Interaction Designer and Developer</p>
    <p>Living in Los Angeles</p>
</header>

<%= partial "partials/index/featured.erb" %>