---
title: Patterns
---


<div class="experiments-iframes">
    <div>
        <h2 class="mb-18">Cards with fluid square images</h2>

        <p class="codepen" data-height="548" data-theme-id="0" data-default-tab="result" data-user="ozywuli" data-slug-hash="KLPRBJ" style="height: 548px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="Cards with fluid square images">
        <span>See the Pen <a href="https://codepen.io/ozywuli/pen/KLPRBJ/">
        Cards with fluid square images</a> by ozywuli (<a href="https://codepen.io/ozywuli">@ozywuli</a>)
        on <a href="https://codepen.io">CodePen</a>.</span>
        </p>
        <script async src="https://static.codepen.io/assets/embed/ei.js"></script>
    </div>
    <div>
        <h2 class="mb-18">Pull content up</h2>

        <p class="codepen" data-height="548" data-theme-id="0" data-default-tab="result" data-user="ozywuli" data-slug-hash="ZNzRGG" style="height: 548px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="Pull content up">
        <span>See the Pen <a href="https://codepen.io/ozywuli/pen/ZNzRGG/">
        Pull content up</a> by ozywuli (<a href="https://codepen.io/ozywuli">@ozywuli</a>)
        on <a href="https://codepen.io">CodePen</a>.</span>
        </p>
        <script async src="https://static.codepen.io/assets/embed/ei.js"></script>
    </div>
    <div>
        <h2 class="mb-18">CSS Triangles</h2>

        <iframe height="423" style="width: 100%;" scrolling="no" title="CSS Triangle" src="//codepen.io/ozywuli/embed/qzKgox/?height=423&theme-id=0&default-tab=result" frameborder="no" allowtransparency="true" allowfullscreen="true">
        See the Pen <a href='https://codepen.io/ozywuli/pen/qzKgox/'>CSS Triangle</a> by ozywuli
        (<a href='https://codepen.io/ozywuli'>@ozywuli</a>) on <a href='https://codepen.io'>CodePen</a>.
        </iframe>
    </div>
</div>