---
title: Portfolio
---

<div class="row">
    <p class="row__p">Selection of projects I've worked on since 2012</p>
    <%= partial(:'partials/_blocks.erb', :locals => { :items => data.portfolio.items } ) %>
</div>

<div class="row">
    <h3 class="row__title">Clients</h3>
    <p class="row__p">Selection of clients and companies I've worked with since 2012</p>
</div>