---
title: Resume
---

<div class="row">
    <h3 class="row__title">OBJECTIVE</h3>
    <p class="row__p mod-no-mb">To obtain a challenging position to further my career as a web/app developer, and to collaborate with others to build elegant and engaging interfaces for the best possible user experience.</p>
</div>

<div class="row">
    <h3 class="row__title">PROFILE</h3>
    <ul class="row__list">
        <li class="row__list-item">
            UI developer with experience in a variety of programming fields including data visualization, SPA development, Rails development, and Wordpress development.
        </li>
        <li class="row__list-item">
            Excited about learning the best and latest trends in application design and development and integrating them into my workflow.
        </li>
    </ul>
</div>


<div class="row">
    <h3 class="row__title">TECHNICAL SKILLS</h3>
    <ul class="row__list">
        <li class="row__list-item">
            HTML & CSS, LESS / SASS preprocessors, Bootstrap, HTML Emails
        </li>
        <li class="row__list-item">
            Javascript, Jquery, Ember, Vue, Mapbox, Leaflet.js, Google Maps API, ScrollMagic.js Three.js, Greensock.js, Pixi.js, Charts.js, D3.js
        </li>
        <li class="row__list-item">
            Gulp, Webpack
        </li>
        <li class="row__list-item">
            Experience with PHP, Ruby, Python, Swift, Objective-C, and C#
        </li>
        <li class="row__list-item">
            Rails, Wordpress, Middleman static sites, Tumblr Themes, Shopify Themes
        </li>
        <li class="row__list-item">
            UNIX command line, Bash scripting, Web Scraping
        </li>
        <li class="row__list-item">
            Git/Github
        </li>
        <li class="row__list-item">
            Apache, Nginx
        </li>
        <li class="row__list-item">
            MySQL, PostgreSQL
        </li>
    </ul>
</div>


<div class="row">
    <h3 class="row__title">SOFTWARE</h3>
    <ul class="row__list">
        <li class="row__list-item">Sublime Text 3</li>
        <li class="row__list-item">Adobe Suite (Photoshop, Illustrator, and After Effects)</li>
        <li class="row__list-item">Blender</li>
        <li class="row__list-item">Unity</li>
        <li class="row__list-item">Excel and Google Sheets</li>
    </ul>
</div>


<div class="row">
    <h3 class="row__title">EXPERIENCE</h3>
    <div class="row__item">
        <div class="bold space-5">PXL AGENCY, Front End Web Developer</div>
        <div class="italic resume__job-title">November 2015 - Present</div>
    </div>
    <div class="row__item">
        <div class="bold space-5"><span class="italic">LOS ANGELES MAGAZINE</span>, Junior Web Producer</div>
        <div class="italic">July 2014 – September 2015</div>
    </div>
    <div class="row__item">
        <div class="bold space-5"><span class="italic">WEB DESIGN AND DEVELOPMENT CONSULTANT, Self</div>
        <div class="italic space-5">June 2012 – Present</div>
    </div>
</div>


<div class="row">
    <h3 class="row__title">EDUCATION</h3>
    <div>
        <div class="bold space-5">UNIVERSITY OF CALIFORNIA, LOS ANGELES</div>
        <div class="italic">B.A. in History, Class of 2012</div>
    </div>
</div>